.usersOuter{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: #FFFFFF;
    height: 80%;
    border-radius: 5px;
    width: 20%;
    margin-right: 20px;

}
.headers {
    background: #2979FF;
    border-radius: 4px 4px 0 0;
    height: 40px;
    width: 100%;
    margin: 0px;
    text-align: center;
    padding: 10px;
    color: #fff;
}
.usersInner{
    height: calc(100% - 40px);
    overflow: scroll;
}

.user-order{
    padding: 10px;
    border-bottom: 1px solid #ccc;
}

.user-name{
    font-size: 10px;
    padding-bottom: 10px;
}

@media screen and (max-width : 767px){
    .usersOuter {
        display: block;
        background: #FFFFFF;
        height: 30%;
        width: 100%;
        margin-bottom: 10px;
        margin-top: 10px;
        margin-right: 20px;
    }
}